/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/atkinson-hyperlegible-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-700.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/raleway-v28-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/raleway-v28-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/raleway-v28-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/raleway-v28-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/raleway-v28-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/raleway-v28-latin-600.svg#Raleway")
      format("svg"); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/raleway-v28-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/raleway-v28-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/raleway-v28-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* keine Angaben in px */

:root {
  --fallback-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-farbe: #3f3f3f;
  --hintergrund-farbe: #fffefa;
  --primaer-farbe: #ded4c5;
  --sekundaer-farbe: #307b69;
  --akzent-farbe-2: #d48c8c;
  --akzent-farbe-1: #a0d3de;
  --seiten-margin: 3rem;
  --abstand: 2rem;
  --spacer: calc(var(--abstand) * 6);
  --nav-hoehe: 5rem;
  --border-radius: 0.5rem;
  --section: 2.313rem;
  --subsection: 1.75rem;
  --subsubsection: 1.313rem;
}

body {
  font-family: "Atkinson Hyperlegible", var(--fallback-font);
  line-height: 1.4;
  min-height: 100vh;
}

/* NAV BAR */

body > nav {
  background-color: var(--text-farbe);
  color: var(--hintergrund-farbe);
  height: var(--nav-hoehe);
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0 var(--seiten-margin);
  gap: var(--abstand);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Raleway", var(--fallback-font);
  font-weight: 400;
  z-index: 1;
}

body > nav > a {
  width: calc(var(--nav-hoehe) * 2);
}

body > nav > ul {
  display: contents;
  height: 100%;
  padding: 0;
  margin: 0;
}

body > nav li {
  list-style: none;
  position: relative;
}

body > nav a {
  color: var(--hintergrund-farbe);
  text-decoration: none;
  display: block;
}

body > nav li a + ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--text-farbe);
  padding: calc(var(--abstand) / 1.5);
  margin: 0;
  flex-direction: column;
  gap: calc(var(--abstand) / 1.5);
  text-align: center;
  width: max-content;
}

body > nav li:hover > a + ul {
  display: flex;
  align-items: center;
}

body > nav a:first-child {
  margin-right: auto;
}

/* a:hover und menu */

a:not(.btn-link),
.menu button {
  position: relative;
}
a:not(.btn-link):hover::after,
.menu button:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  transform: translateY(0.25rem);
  z-index: 1;
  content: " ";
  background-color: var(--akzent-farbe-2);
}

/* FOOTER */

footer {
  background-color: var(--text-farbe);
  color: var(--hintergrund-farbe);
  padding: var(--abstand) var(--seiten-margin);
  font-family: "Raleway", var(--fallback-font);
  font-weight: 400;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

footer a {
  color: inherit;
  text-decoration: none;
}

/* allgemein */
body {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: var(--abstand);
  color: var(--text-farbe);
  background-color: var(--hintergrund-farbe);
}

[role="img"] {
  background-position: center;
  background-size: cover;
}

.btn-link {
  height: 3rem;
  display: grid;
  place-items: center;
  width: fit-content;
  background-color: var(--sekundaer-farbe);
  border-radius: 1.5rem;
  padding: 0 1.5rem;

  color: var(--hintergrund-farbe);
  text-decoration: none;
}

.btn-link:hover {
  background-color: var(--akzent-farbe-2);
}

main {
  display: contents;
}

main > section {
  display: contents;
}

h1 {
  font-size: var(--section);
}

h2 {
  font-size: var(--subsection);
}

h3 {
  font-size: var(--subsubsection);
}

h1,
h2,
h3 {
  font-weight: 600;
}

.img-btn {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  align-self: center;
  background-color: transparent;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.img-btn svg {
  height: 70%;
  width: 70%;
  display: block;
  fill: var(--sekundaer-farbe);
}

.img-btn:hover svg {
  fill: var(--akzent-farbe-2);
}

/* Segeln und Biken am Gardasee .ff-sub */
/* ff -> Ferienfreizeiten */

.ff-sub {
  grid-template-rows:
    30vh repeat(5, auto) var(--spacer) 40vh var(--spacer)
    auto var(--spacer) auto;
  grid-auto-rows: auto;
}

.ff-sub-hero-img {
  grid-area: 1 / 1 / 3 / -1;
  width: 100%;
  background-image: url(./img/hero-segeln-biken.jpg);
  background-position: center top;
  background-size: cover;
}

.ff-sub section:nth-of-type(1) h1 {
  color: var(--hintergrund-farbe);
  margin-bottom: var(--abstand);

  grid-area: 2 / 2 / 3 / 6;
}

.ff-sub section:nth-of-type(1) h2 {
  grid-area: 3 / 2 / 4 / 6;
}

.ff-sub section:nth-of-type(1) .ff-meter {
  grid-area: 4 / 2 / 5 / 5;
}

.ff-sub section:nth-of-type(1) p {
  grid-area: 5 / 2 / 6 / 5;
}

.ff-sub section:nth-of-type(1) .btn-link {
  grid-area: 6 / 2 / 7 / 4;
}

.ff-sub section:nth-of-type(1) section {
  grid-area: 2 / 8 / 7 / -3;
  background-color: var(--primaer-farbe);
  color: var(--text-farbe);
  padding: var(--abstand);
  border-radius: var(--border-radius);
}

.ff-sub section:nth-of-type(1) section :first-child {
  margin-top: 0;
}

.ff-sub section:nth-of-type(1) section :last-child {
  margin-bottom: 0;
}

.ff-sub main > section:nth-of-type(1) section h2 svg {
  fill: inherit;
  display: block;
  margin-left: var(--abstand);
  height: 1.9rem;
  transform: translateY(0.3rem);
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1 / 1;
}

.ff-sub section:nth-of-type(1) section h2 {
  position: relative;
  padding-right: 2rem;
}

/* Carrousel */

.ff-sub section:nth-of-type(2) > * {
  grid-row: 8 / 9;
}

.ff-sub section:nth-of-type(2) > #ff-sub-carrousel-wrapper {
  grid-row: 8 / 9;
  grid-column: 3 / -3;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--abstand);
  overflow: hidden;
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.left
  > div:not(:first-child) {
  animation: right 0.5s ease-in-out forwards;
}
.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.left
  > div:first-child {
  animation: offset 0.5s ease-in-out forwards;
}

@keyframes left {
  to {
    transform: translateX(calc(-100% - var(--abstand)));
  }
}

@keyframes offset {
  to {
    transform: translateX(0);
  }
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.right
  > div:not(:last-child) {
  animation: left 0.5s ease-in-out forwards;
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.right
  > div:last-child {
  animation: offset 0.5s ease-in-out forwards;
}

@keyframes right {
  to {
    transform: translateX(calc(100% + var(--abstand)));
  }
}

.ff-sub section:nth-of-type(2) > div > div {
  height: 100%;
  width: 100%;
  grid-row: 1;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(1) {
  transform: translateX(calc(-100% - var(--abstand)));
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(1),
.ff-sub section:nth-of-type(2) div div:nth-of-type(2) {
  grid-column: 1 / 5;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(3) {
  grid-column: 5 / 9;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(4),
.ff-sub section:nth-of-type(2) div div:nth-of-type(5) {
  grid-column: 9 / 10;
  width: calc(100% * 4 + var(--abstand) * 3);
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(5) {
  transform: translateX(calc(100% + var(--abstand)));
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-1 {
  background-image: url(./img/carrousel-1-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-2 {
  background-image: url(./img/carrousel-2-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-3 {
  background-image: url(./img/carrousel-3-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-4 {
  background-image: url(./img/carrousel-4-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-5 {
  background-image: url(./img/carrousel-5-segeln-biken.jpg);
}

/* carrousel buttons */
.ff-sub section:nth-of-type(2) button:first-of-type {
  grid-column: 2 / 3;
}

.ff-sub section:nth-of-type(2) button:last-of-type {
  grid-column: 12 / 13;
}

/* Programm Tabelle */

.ff-sub section:nth-of-type(3) {
  display: block;
  grid-area: 10 / 3 / 11 / -3;
}

.ff-sub tr {
  border-bottom: 1px solid #000;
}

.ff-sub table {
  width: 100%;
}

.ff-sub table tr td:first-child {
  padding-right: 6rem;
}

/* Ferienfreizeiten .ff */

.ff {
  grid-template-rows:
    calc(var(--nav-hoehe) + calc(var(--abstand) * 2)) calc(var(--abstand) * 2) calc(
      var(--abstand) * 2
    )
    calc(100vh - var(--nav-hoehe) - 5 * calc(var(--abstand) * 2))
    calc(var(--abstand) * 2) calc(var(--abstand) * 2)
    var(--spacer) calc(100vh - var(--nav-hoehe) - 2 * var(--abstand)) var(
      --spacer
    )
    auto var(--spacer)
    auto;
}

.ff main > section:nth-of-type(1) .ff-background {
  background-color: var(--primaer-farbe);
  /* erst die x Linie dann die y Linie */
  grid-area: 1 / 1 / 7 / 9;
  border-bottom-right-radius: calc(8 * var(--border-radius));
}

.ff main > section:nth-of-type(1) .ff-hero-text {
  grid-area: 4 / 2 / 5 / 6;
}

.ff main > section:nth-of-type(1) #ff-hero-img-1 {
  grid-area: 2 / 7 / 5 / 10;

  background-color: #d48c8c;
  background-image: linear-gradient(62deg, #d48c8c 0%, #a0d3de 100%);
}

.ff main > section:nth-of-type(1) #ff-hero-img-2 {
  grid-area: 3 / 10 / 6 / 13;
  background-color: #d48c8c;
  background-image: linear-gradient(62deg, #d48c8c 0%, #a0d3de 100%);
}

.ff main > section:nth-of-type(2) > * {
  grid-row: 8 / 9;
}

.ff main > section:nth-of-type(2) .img-btn:first-of-type {
  grid-column: 2 / 3;
}

.ff main > section:nth-of-type(2) #ff-slider {
  grid-column: 3 / 7;
  overflow: hidden;
  position: relative;
}

.ff main > section:nth-of-type(2) #ff-slider div {
  width: 100%;
  height: 100%;
}

.ff main > section:nth-of-type(2) #ff-slider.right div:nth-child(2) {
  animation: left 0.5s ease-in-out forwards;
}

.ff main > section:nth-of-type(2) #ff-slider.right div:nth-child(3) {
  animation: offset 0.5s ease-in-out forwards;
}

.ff main > section:nth-of-type(2) #ff-slider.left div:nth-child(2) {
  animation: right 0.5s ease-in-out forwards;
}

.ff main > section:nth-of-type(2) #ff-slider.left div:nth-child(1) {
  animation: offset 0.5s ease-in-out forwards;
}

.ff main > section:nth-of-type(2) #ff-slider div:nth-child(3),
.ff main > section:nth-of-type(2) #ff-slider div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.ff main > section:nth-of-type(2) #ff-slider div:nth-child(1) {
  transform: translateX(calc(-100% - var(--abstand)));
}

.ff main > section:nth-of-type(2) #ff-slider div:nth-child(3) {
  transform: translateX(calc(100% + var(--abstand)));
}

.ff main > section:nth-of-type(2) #ff-slider #ff-slider-img-1 {
  background-color: #d48c8c;
  background-image: linear-gradient(50deg, #d48c8c 0%, #a0d3de 100%);
}

.ff main > section:nth-of-type(2) #ff-slider #ff-slider-img-2 {
  background-color: #d48c8c;
  background-image: linear-gradient(100deg, #d48c8c 0%, #a0d3de 100%);
}
.ff main > section:nth-of-type(2) #ff-slider #ff-slider-img-3 {
  background-color: #d48c8c;
  background-image: linear-gradient(200deg, #d48c8c 0%, #a0d3de 100%);
}

.ff main > section:nth-of-type(2) .img-btn:last-of-type {
  grid-column: 7 / 8;
}

.ff main > section:nth-of-type(2) .ff-section-text {
  grid-column: 8 / -2;
}

/* Tab Section */

.ff main > section:nth-of-type(3) {
  display: block;
  grid-row: 10;
  grid-column: 2 / -2;
}

.ff main > section:nth-of-type(3) > section {
  display: none;
  column-gap: var(--abstand);
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, auto) 1fr;
  border: solid 0.25rem var(--sekundaer-farbe);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  min-height: 65vh;
  animation: fade-in 0.5s ease-in-out forwards;
}

.ff main > section:nth-of-type(3) > section.active,
.ff main > section:nth-of-type(3) > section.fade-out {
  display: grid;
}

.ff main > section:nth-of-type(3) > section.active * {
  animation: fade-in 0.2s ease-in-out forwards;
}

.ff main > section:nth-of-type(3) > section.fade-out * {
  animation: fade-out 0.2s ease-in-out forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.ff main > section:nth-of-type(3) .angebot p svg {
  height: 1.4rem;
  transform: translateY(0.2rem);
  fill: var(--akzent-farbe-1);
}

.ff main > section:nth-of-type(3) > section > h3,
.ff main > section:nth-of-type(3) > section > p,
.ff main > section:nth-of-type(3) > section > a {
  grid-column: 1 / 5;
  margin: 0 0 0 calc(var(--abstand) / 2);
}

.ff main > section:nth-of-type(3) > section > h3 {
  font-size: var(--subsection);
  font-weight: 400;
  margin-top: calc(var(--abstand) / 2);
}

.ff main > section:nth-of-type(3) > section > p:first-of-type {
  font-size: var(--subsubsection);
  margin-bottom: calc(var(--abstand) / 2);
}

.ff main > section:nth-of-type(3) > section > p.termine {
  grid-column: 3 / span 2;
  font-size: var(--subsection);
  margin: 0;
}

.ff main > section:nth-of-type(3) > section > p.info {
  grid-area: 1 / 9 / span 2 / span 4;
  margin: calc(var(--abstand) / 2) calc(var(--abstand) / 2) 0 0;
  position: relative;
}

.ff main > section:nth-of-type(3) > section > p svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.9rem;
  transform: translate(-140%, -0.1rem);
  fill: var(--sekundaer-farbe);
}

.ff main > section:nth-of-type(3) > section > div {
  grid-column: 3 / -1;
  display: flex;
  gap: var(--abstand);
  padding: calc(var(--abstand) / 2) var(--abstand) var(--abstand) 0;
  justify-content: space-between;
  align-items: center;
}

.ff main > section:nth-of-type(3) .angebot {
  border: 0.25rem solid var(--sekundaer-farbe);
  padding: calc(var(--abstand) / 3);
  border-radius: var(--border-radius);
  display: grid;
  max-width: calc(33%);
  height: 75%;
  flex: 1 1 0;
}

.ff main > section:nth-of-type(3) .angebot p {
  margin: 0 0 calc(var(--abstand) / 2);
}

.ff main > section:nth-of-type(3) .angebot p:last-of-type {
  margin-top: auto;
  font-size: var(--subsubsection);
  font-family: "Raleway", var(--fallback-font);
  font-weight: 600;
}

.ff main > section:nth-of-type(3) .angebot div[role="img"] {
  overflow: hidden;
  max-width: 11rem;
  margin-right: 15%;
  justify-self: end;
}

.ff main > section:nth-of-type(3) .angebot div[role="img"] svg {
  width: 100%;
  stroke: var(--sekundaer-farbe);
  fill: none;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.ff main > section:nth-of-type(3) .angebot .btn-link {
  justify-self: end;
}

.ff main > section:nth-of-type(3) .angebot.active {
  border-color: var(--akzent-farbe-2);
  flex: 1.3 1.3 0;
  height: 100%;
}

.ff main > section:nth-of-type(3) .angebot.active p svg {
  fill: var(--akzent-farbe-2);
  height: 1.9rem;
  transform: translateY(0.4rem);
}

.ff main > section:nth-of-type(3) .angebot.active div[role="img"] svg {
  stroke: var(--akzent-farbe-2);
}

.ff main > section:nth-of-type(3) .angebot.active p:last-of-type {
  font-size: var(--subsection);
}

.ff main > section:nth-of-type(3) .tabs button {
  appearance: none;
  padding: 1rem 1.5rem;
  border: none;
  margin: 0;
  background-color: var(--hintergrund-farbe);
  border-top: 0.25rem solid var(--sekundaer-farbe);
  border-left: 0.25rem solid var(--sekundaer-farbe);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.ff main > section:nth-of-type(3) .tabs button:first-child {
  border-top-left-radius: var(--border-radius);
}

.ff main > section:nth-of-type(3) .tabs button:last-child {
  border-top-right-radius: var(--border-radius);
  border-right: 0.25rem solid var(--sekundaer-farbe);
}

.ff main > section:nth-of-type(3) .tabs button.active {
  border-color: var(--akzent-farbe-2);
  font-size: var(--subsubsection);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-right: 0.25rem solid var(--akzent-farbe-2);
  border-bottom: 0.25rem solid var(--akzent-farbe-2);
  transform: translateY(0.25rem);
}

.ff main > section:nth-of-type(3) .tabs button.active + button {
  border-left: none;
}

.ff main > section:nth-of-type(3) .tabs {
  display: flex;
  align-items: end;
  height: 6rem;
}

/* Kontakt -> .kt*/

.kt {
  grid-template-rows: 30vh repeat(4, auto) calc(var(--abstand) * 3) auto;
}

.kt section:nth-child(1) #k-hero-img {
  grid-area: 1 / 1 / 3 / -1;
  background-image: linear-gradient(-5deg, #ded4c5 0%, #fffefa 100%);
}

.kt section:nth-child(1) #k-main-img {
  grid-area: 4 / 2 / 6 / 9;
  margin-top: calc(var(--abstand) * 2);
  background-image: radial-gradient(
    circle,
    rgba(222, 212, 197, 1) 0%,
    rgba(255, 254, 250, 1) 100%
  );
}

.kt section:nth-child(1) h1 {
  grid-area: 2 / 2 / 3 / 6;
  margin-bottom: var(--abstand);
}

.kt section:nth-child(1) > div {
  grid-area: 3 / 2 / 4 / 6;
}

.kt section:nth-child(1) > div p {
  margin: var(--abstand) 0;
}

.kt section:nth-child(2) address {
  grid-area: 4 / 10 / 5 / -2;
  font-style: normal;
}

.kt section:nth-child(2) #streetmap {
  grid-area: 5 / 10 / 6 / -2;
  width: 100%;
  aspect-ratio: 1;
  margin-top: var(--abstand);

  background-image: url("./img/openmap.png");
}

/* Home > .ix */

.ix {
  grid-template-rows:
    calc(var(--nav-hoehe) + var(--abstand) * 2) calc(
      50vh - var(--nav-hoehe) - var(--abstand) * 2
    )
    calc(50vh - var(--abstand) * 2)
    var(--spacer) 50vh var(--spacer) 50vh var(--spacer) 50vh var(--spacer) auto;
}

.ix section:nth-child(1) h1 {
  grid-area: 2 / 6 / 3 / 10;
  font-size: calc(2 * var(--section));
  margin: 0;
}

.ix section:nth-child(1) #ix-hero-img-1 {
  grid-area: 2 / 2 / 3 / 5;

  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
.ix section:nth-child(1) #ix-hero-img-2 {
  grid-area: 2 / 11 / 3 / -2;
  height: 75%;
  margin-top: 25%;
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
.ix section:nth-child(1) #ix-hero-img-3 {
  grid-area: 3 / 5 / 4 / 7;
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
.ix section:nth-child(1) #ix-hero-img-4 {
  grid-area: 3 / 8 / 4 / 10;
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}

.ix section:not(:first-child) div[role="img"]:first-child {
  grid-column: 3 / 8;
}

.ix section:not(:first-child) div[role="img"]:last-child {
  grid-column: 7 / 12;
}

.ix section:not(:first-child) div:not([role="img"]):first-child {
  grid-column: 2 / 7;
  justify-self: end;
}

.ix section:not(:first-child) div:not([role="img"]):last-child {
  grid-column: 8 / 13;
  justify-self: start;
}

.ix section:not(:first-child) div:not([role="img"]) {
  align-self: start;
  max-width: 65ch;
}

.ix section:nth-child(2) > * {
  grid-row: 5;
}

.ix section:nth-child(3) > * {
  grid-row: 7;
}

.ix section:nth-child(4) > * {
  grid-row: 9;
}

.ix section #ix-section-img-1 {
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
.ix section #ix-section-img-2 {
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
.ix section #ix-section-img-3 {
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}

/* Australien -> .aus */

.aus {
  grid-template-rows:
    calc(var(--nav-hoehe) + var(--abstand) * 2) calc(
      100vh - var(--nav-hoehe) - var(--abstand) * 4
    )
    var(--spacer) calc(85vh - var(--nav-hoehe)) var(--spacer) calc(
      85vh - var(--nav-hoehe)
    )
    var(--spacer) calc(85vh - var(--nav-hoehe)) var(--spacer) auto;
}
/* tmp */

.aus main > section:nth-child(1) > div:not(#aus-hero-img) {
  grid-area: 2 / 2 / 3 / 6;
  align-self: center;
}

.aus main > section:nth-child(1) > #aus-hero-img {
  grid-area: 2 / 7 / 3 / -2;

  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}

.aus main > section:nth-child(2),
.aus main > section:nth-child(3) {
  grid-column: 2 / -2;
  grid-template-columns: repeat(11, 1fr);
  column-gap: var(--abstand);
  display: grid;
}

.aus main > section:nth-child(4) {
  grid-column: 3 / -3;
  grid-template-columns: repeat(9, 1fr);
  column-gap: var(--abstand);
  display: grid;
}

.aus main > section:nth-child(2) {
  grid-row: 4;
}

.aus main > section:nth-child(3) {
  grid-row: 6;
}

.aus main > section:nth-child(4) {
  grid-row: 8;
}

.aus main > section:nth-child(2) {
  grid-column: 2 / -2;
  grid-template-columns: repeat(11, 1fr);
  column-gap: var(--abstand);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  /* später auch auf 3te section anwenden */
}

.aus main > section:nth-child(2) h2 {
  grid-column: 1 / 7;
  grid-row: 1;
  margin: 0 0 var(--abstand) 0;
  font-size: var(--section);
}

.aus main > section:nth-child(2) nav {
  grid-column: 1 / 7;
  grid-row: 2;
  margin: 0;
}

.aus main > section:nth-child(2) nav ul {
  display: flex;
  justify-content: start;
  gap: var(--abstand);
  list-style: none;
  padding: 0;
  margin: 0;
}
.aus main > section:nth-child(2) nav ul li button {
  appearance: none;
  border: none;
  background: transparent;
  opacity: 0.7;
  color: var(--sekundaer-farbe);
  margin: 0;
  padding: 0;
}

.aus main > section:nth-child(2) nav ul li button:hover {
  opacity: 1;
}

.aus main > section:nth-child(2) nav ul li button.active {
  opacity: 1;
  font-weight: 700;
}

.aus main > section:nth-child(2) > .text-wrapper {
  grid-column: 1 / 7;
  grid-row: 3;
}

.aus main > section:nth-child(2) > .text-wrapper section {
  display: none;
}

.aus main > section:nth-child(2) > .text-wrapper section h3 {
  font-size: var(--subsection);
  margin: calc(var(--abstand) / 2) 0 calc(var(--abstand) / 1.5) 0;
}

.aus main > section:nth-child(2) > .text-wrapper section p {
  margin: 0 0 var(--abstand) 0;
  max-width: 65ch;
}

.aus main > section:nth-child(2) > .text-wrapper section.active {
  display: block;
}

.aus main > section:nth-child(2) > button {
  grid-row: 4;
}

.aus main > section:nth-child(2) > button:first-of-type {
  grid-column: 1 / 2;
}

.aus main > section:nth-child(2) > button:last-of-type {
  grid-column: 2 / 3;
}

.aus main > section:nth-child(2) > .img-wrapper {
  grid-row: 1 / 5;
  grid-column: 7 / -1;
}

.aus main > section:nth-child(2) > .img-wrapper div {
  height: 100%;
  width: 100%;
}

.aus main > section:nth-child(2) > .img-wrapper #aus-slider-1-img-1 {
  background: linear-gradient(-10deg, #ded4c5 20%, #fffefa 100%);
}
