/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-regular.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/atkinson-hyperlegible-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-700.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* atkinson-hyperlegible-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/atkinson-hyperlegible-v10-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/atkinson-hyperlegible-v10-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/atkinson-hyperlegible-v10-latin-700italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/raleway-v28-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/raleway-v28-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/raleway-v28-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/raleway-v28-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/raleway-v28-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/raleway-v28-latin-600.svg#Raleway")
      format("svg"); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/raleway-v28-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/raleway-v28-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/raleway-v28-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* keine Angaben in px */

:root {
  --fallback-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-farbe: #3f3f3f;
  --hintergrund-farbe: #fffefa;
  --primaer-farbe: #1e7fcb;
  --sekundaer-farbe: #9cbfa7;
  --akzent-farbe: #ff5a5a;
  --seiten-margin: 3rem;
  --abstand: 2rem;
  --nav-hoehe: 5rem;
  --border-radius: 0.5rem;
  --section: 2.313rem;
  --subsection: 1.75rem;
  --subsubsection: 1.313rem;
}

body {
  font-family: "Atkinson Hyperlegible", var(--fallback-font);
  line-height: 1.4;
  min-height: 100vh;
}

/* NAV BAR */

nav {
  background-color: var(--text-farbe);
  color: var(--hintergrund-farbe);
  height: var(--nav-hoehe);
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0 var(--seiten-margin);
  gap: var(--abstand);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Raleway", var(--fallback-font);
  font-weight: 400;
  z-index: 1;
}

nav > a {
  width: calc(var(--nav-hoehe) * 2);
}

nav > ul {
  display: contents;
  height: 100%;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  position: relative;
}

nav a {
  color: var(--hintergrund-farbe);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--akzent-farbe);
}

nav li a + ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--text-farbe);
  padding: calc(var(--abstand) / 1.5);
  margin: 0;
  flex-direction: column;
  gap: calc(var(--abstand) / 1.5);
  text-align: center;
  width: max-content;
}

nav li:hover > a + ul {
  display: flex;
}

nav a:first-child {
  margin-right: auto;
}

/* FOOTER */

footer {
  background-color: var(--text-farbe);
  color: var(--hintergrund-farbe);
  padding: var(--abstand) var(--seiten-margin);
  font-family: "Raleway", var(--fallback-font);
  font-weight: 400;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

footer a {
  color: inherit;
  text-decoration: none;
}

/* allgemein */
body {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: var(--abstand);
}

main {
  display: contents;
}

main > section {
  display: contents;
}

h1 {
  font-size: var(--section);
}

h2 {
  font-size: var(--subsection);
}

h3 {
  font-size: var(--subsubsection);
}

h1,
h2,
h3 {
  font-weight: 600;
}

/* Segeln und Biken am Gardasee */

.ff-sub {
  grid-template-rows:
    40vh repeat(5, auto) calc(3 * var(--abstand)) 40vh calc(3 * var(--abstand))
    auto calc(3 * var(--abstand)) auto;
  grid-auto-rows: auto;
}

/* ff -> Ferienfreizeiten */
.ff-sub-hero-img {
  grid-area: 1 / 1 / 3 / -1;
  background-color: red;
  width: 100%;
  background-image: url(./img/hero-segeln-biken.jpg);
  background-position: center top;
  background-size: cover;
}

.ff-sub section:nth-of-type(1) h1 {
  color: var(--hintergrund-farbe);
  grid-area: 2 / 2 / 3 / 6;
}

.ff-sub section:nth-of-type(1) h2 {
  grid-area: 3 / 2 / 4 / 6;
}

.ff-sub section:nth-of-type(1) .ff-meter {
  grid-area: 4 / 2 / 5 / 5;
}

.ff-sub section:nth-of-type(1) p {
  grid-area: 5 / 2 / 6 / 5;
}

.ff-sub section:nth-of-type(1) .ff-sub-anmeldung {
  grid-area: 6 / 2 / 7 / 4;
}

.ff-sub section:nth-of-type(1) section {
  grid-area: 2 / 8 / 7 / -3;
  background-color: var(--primaer-farbe);
  color: var(--hintergrund-farbe);
  padding: var(--abstand);
  border-radius: var(--border-radius);
}

/* Carrousel */

.ff-sub section:nth-of-type(2) > * {
  grid-row: 8 / 9;
}

.ff-sub section:nth-of-type(2) > #ff-sub-carrousel-wrapper {
  grid-row: 8 / 9;
  grid-column: 3 / -3;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--abstand);
  overflow: hidden;
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.left
  > div:not(:first-child) {
  animation: right 0.5s ease-in-out forwards;
}
.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.left
  > div:first-child {
  animation: offset 0.5s ease-in-out forwards;
}

@keyframes left {
  to {
    transform: translateX(calc(-100% - var(--abstand)));
  }
}

@keyframes offset {
  to {
    transform: translateX(0);
  }
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.right
  > div:not(:last-child) {
  animation: left 0.5s ease-in-out forwards;
}

.ff-sub
  section:nth-of-type(2)
  > #ff-sub-carrousel-wrapper.right
  > div:last-child {
  animation: offset 0.5s ease-in-out forwards;
}

@keyframes right {
  to {
    transform: translateX(calc(100% + var(--abstand)));
  }
}

.ff-sub section:nth-of-type(2) > div > div {
  height: 100%;
  width: 100%;
  grid-row: 1;
  background-position: center;
  background-size: cover;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(1) {
  transform: translateX(calc(-100% - var(--abstand)));
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(1),
.ff-sub section:nth-of-type(2) div div:nth-of-type(2) {
  grid-column: 1 / 5;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(3) {
  grid-column: 5 / 9;
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(4),
.ff-sub section:nth-of-type(2) div div:nth-of-type(5) {
  grid-column: 9 / 10;
  width: calc(100% * 4 + var(--abstand) * 3);
}

.ff-sub section:nth-of-type(2) div div:nth-of-type(5) {
  transform: translateX(calc(100% + var(--abstand)));
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-1 {
  background-image: url(./img/carrousel-1-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-2 {
  background-image: url(./img/carrousel-2-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-3 {
  background-image: url(./img/carrousel-3-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-4 {
  background-image: url(./img/carrousel-4-segeln-biken.jpg);
}

.ff-sub section:nth-of-type(2) div #ff-sub-carrousel-5 {
  background-image: url(./img/carrousel-5-segeln-biken.jpg);
}

/* carrousel buttons */
.ff-sub section:nth-of-type(2) button:first-of-type {
  grid-column: 2 / 3;
}

.ff-sub section:nth-of-type(2) > button {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  align-self: center;
  background-color: var(--hintergrund-farbe);
  width: 100%;
  aspect-ratio: 1;
}
.ff-sub section:nth-of-type(2) > button svg {
  height: 100%;
  width: 100%;
  display: block;
}

.ff-sub section:nth-of-type(2) button:last-of-type {
  grid-column: 12 / 13;
}

/* Programm Tabelle */

.ff-sub section:nth-of-type(3) {
  display: block;
  grid-area: 10 / 3 / 11 / -3;
}

.ff-sub tr {
  border-bottom: 1px solid #000;
}

.ff-sub table {
  width: 100%;
}

.ff-sub table tr td:first-child {
  padding-right: 6rem;
}
